<h2>List of Messages</h2>

<% @messages.each do|message| %>
<p>	

	<%= link_to message.name, message_path(message) %>
	<%= link_to "Edit Message", edit_message_path(message) %>
	<%= link_to "Delete Message", message_path(message), method:"delete" %>
</p>

	



<%end%>